<!DOCTYPE html>
<html>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

<head>
</head>
<body>
  {% if data %}
    <h1 class="tit2" style="color:yellow; font-size: 30pt; font-family: "Arial">Question {{data[0]}}</h1>

	<div class="meep">
  <form class="meep" action='/NextQuestion/{{data[0]}}' method='POST' style="color:yellow; font-size:25pt; font-family: "Arial">
    <label>{{data[1]}}</label><br><br>

    {% for answer in data[2] %}
        {% if data[3] %}
            <input type="radio" name="answer" value="{{answer[0]}}" required><img src="{{url_for('static', filename=answer[1])}}" style="width: 200px;"><br><br>
        {% else %}
            <input type="radio" name="answer" value="{{answer[0]}}" required>{{answer[1]}}<br><br>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Next Question"/>
  {% endif %}
  </form>
	</div>


</body>
</html>
